go-admin/.idea
go-admin/.vscode
go-admin/*/.DS_Store
go-admin/static/uploadfile
go-admin/static/www
go-admin/temp/
go-admin/!temp
go-admin/vendor
go-admin/config/settings.dev.yml
go-admin/common/middleware/demo.go
go-admin/config/settings.dev.*.yml
go-admin/config/settings.dev.*.yml.log
go-admin/temp/logs
go-admin/config/settings.dev.yml.log
go-admin/config/settings.b.dev.yml
go-admin/cmd/migrate/migration/version-local/*
go-admin/!cmd/migrate/migration/version-local/doc.go
go-admin/*/.DS_Store
go-admin/go-admin.exe
go-admin/tsdata/
go-admin/main.exe
go-admin/sqlite.db
go-admin/__debug_bin
# go sum
go-admin/go.sum
go-admin/config/settings.deva.yml
go-admin/siteweb-manager
go-admin/siteweb6_version
go-admin/siteweb-manager.exe
go-admin/logs.log
go-admin/snapdata

.DS_Store
web/node_modules/
web/dist/
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/**/*.log

web/tests/**/coverage/
web/tests/e2e/reports
web/selenium-debug.log

# Editor directories and files
web/.idea
web/.vscode
web/*.suo
web/*.ntvs*
web/*.njsproj
web/*.sln
web/*.local

web/package-lock.json
web/yarn.lock

#启动脚本和编译out文件
go-admin/serv.sh
go-admin/go-admin
